---
layout: layout.njk
title: PurpleMyst
---

<h2>## Profile</h2>
<p>
    Systems & automation engineer currently studying at the University of Palermo for my master's
    degree and working for <a href="https://histudents.it/">Hi! Students</a>.
</p>


<h2>## Education</h2>
<ul>
  <li>
    <strong>Master's Degree in Cyber-Physical Systems Engineering for Industry</strong> - University of Palermo (2021 - present)
  </li>
  <li>
    <strong>Bachelor's Degree in Cybernetic Engineering</strong> - University of Palermo (2021 - 2024)
    <ul>
      <li>Graduated with 110/110 with honors</li>
      <li>Final thesis on Quantum Machine Learning</li>
      <li>Focus on Machine Learning and Databases</li>
    </ul>
  </li>
  <li>
    <strong>High School Diploma in Scientific Studies</strong> - I.I.S. "G. D'Alessandro", Bagheria (2016 - 2021)
    <ul>
      <li>Graduated with 100/100</li>
    </ul>
  </li>
</ul>

<h2>## Skills</h2>
<ul>
  <li>Programming languages: Python, Rust, C, C++, Lua, JavaScript/TypeScript, Haskell</li>
  <li>Markup & styling: HTML, CSS, LaTeX, Typst</li>
  <li>Spoken languages: Italian (native), English (C1)</li>
</ul>

<h2>## Accolades</h2>
<ul>
  <li>
    <strong>Manuthon 2024</strong> - Member of the "MeccaNetici" team from the University of Palermo, winner of the
    "Manuthon 2024" competition organized by AITeM, in front of a jury of experts from the industrial and academic world,
    competing with 100 other participants.
  </li>
</ul>

<h2>## Projects</h2>

<ul>
  <li>
    <a href="https://github.com/PurpleMyst/website">This website</a>.
  </li>
  <li>
    <a href="https://play.google.com/store/apps/details?id=it.PurpleMyst.sushicount">Sushi Kazu</a> - an app to count how much sushi you eat at AYCE restaurants. 
  </li>
  <li>
    <a href="https://github.com/PurpleMyst/sansio-lsp-client">sansio-lsp-client</a> - a simple Language Server Protocol client written in Python in the sans-IO style.
  </li>
  <li>
    <a href="https://github.com/PurpleMyst/redditbg.rs">redditbg.rs</a> - a Rust CLI tool to set your desktop background from Reddit.
  </li>
  <li>
    <a href="https://github.com/PurpleMyst/sphrosyne">sphrosyne</a> - a Rust server and web client to use your smartphone as a game controller for your PC.
  </li>
  <li>
    <a href="https://github.com/PurpleMyst/nettirely">nettirely</a> - an IRC bot framework written in Python.
  </li>
  <li>
    Various other projects can be found on my <a href="https://github.com/PurpleMyst">GitHub</a>.
  </li>
</ul>

<h2>## Contact</h2>
<p>
  <a href="mailto:nicolo.spingola27@gmail.com">nicolo.spingola27@gmail.com</a> |
  <a href="https://github.com/PurpleMyst">GitHub</a> |
  <a href="https://ko-fi.com/nicolospingola">Ko-fi</a>
</p>
